<ion-view title="我的收藏">
    <ion-nav-buttons side="left">
        <a class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></a>
    </ion-nav-buttons>
    <ion-content class="has-tabs">
        <ion-list>
            <ion-item ng-repeat="item in favorite" class="item-thumbnail-left" href="#/news_content/{{item.aid}}" ng-class="{'item-borderless':$index==0}" on-hold="options()">
                <img ng-src='{{item.pic | jpg}}' onerror="javascript:this.src='img/loading.gif';"  alt="pic" />
                <h2 class="wrap">{{item.title}}</h2>
                <ion-option-button class="button-positive">分享</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="delete($index)">删除</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ul class="tabs tabs-light tabs-icon-top myoption" ng-if="showOption">
        <li class="tab-item">
            <i class="icon ion-android-share-alt"></i>分享
        </li>
        <li class="tab-item">
            <i class="icon ion-ios-trash"></i>删除
        </li>
    </ul>
</ion-view>
